@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.overlay-about::before, .services .services-items::before, .count, .testmonials::before, .bars span, .nav-site, button.btn-primary {
  background-image: -webkit-linear-gradient(0deg, #62bdfc 0%, #8490ff 100%);
}

/* _____ Import files _____ */
/* _____ style all rules _____ */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  color: #777;
  font-weight: 300;
  font-size: 14px;
  height: 3000px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  font-weight: 600;
}

h1 {
  font-size: 60px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 18px;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: block;
}

.section {
  padding: 120px 0;
}

.text-white {
  color: #fff;
}

.text-center {
  text-align: center;
}

.main-title {
  color: #fff;
  margin-bottom: 80px;
}
@media screen and (max-width: 700px) {
  .main-title h2 {
    font-size: 30px;
  }
}

.special-padding {
  margin: 20px 0 40px;
}

@media screen and (max-width: 991px) {
  .counter > .col {
    flex: 0;
  }
}

.img-fluid {
  max-width: 100%;
  vertical-align: middle;
}

.no-padding {
  padding: 0;
}

.black-50 {
  color: #777;
}

button {
  text-align: center;
  display: inline-block;
  border: none;
  font-family: "Poppins", sans-serif;
  color: #fff;
  font-weight: 500;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}
button.btn {
  padding: 12px 30px;
}
button.btn-left {
  padding: 12px 60px 12px 30px;
}
button.btn-left .lnr.lnr-arrow-right {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transition: 150ms linear;
  -moz-transition: 150ms linear;
  -o-transition: 150ms linear;
  transition: 150ms linear;
}
button.btn-left:hover .lnr.lnr-arrow-right {
  right: 20px;
}
/* _____ style header-nav _____ */
.header-nav {
  padding: 10px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 11;
  background-color: #fff;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
}
.header-nav.active {
  box-shadow: -21.213px 21.213px 30px 0px rgba(158, 158, 158, 0.3);
}
.header-nav ul {
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
}
.header-nav ul li {
  position: relative;
  margin-left: 10px;
}
.header-nav ul li:hover ul {
  opacity: 1;
  visibility: visible;
  margin-top: 0;
}
.header-nav ul li a {
  color: #222;
  text-transform: uppercase;
  font-size: 12px;
  padding: 5px 10px;
  font-weight: 400;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
}
.header-nav ul li a > .lnr-chevron-down {
  font-size: 8px;
  font-weight: bold;
  margin-left: 4px;
}
.header-nav ul li:hover > a,
.header-nav ul li a.active {
  color: #8490ff;
}
.header-nav ul ul {
  position: absolute;
  width: 200px;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  padding: 15px 10px;
  flex-direction: column;
  top: 100%;
  background-color: #fff;
  margin-top: 20px;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
  visibility: hidden;
  opacity: 0;
}
.header-nav ul ul li {
  margin-left: 0;
  margin-bottom: 15px;
}
.header-nav ul ul li:last-child {
  margin-bottom: 0;
}

/* _____ style nav-site _____ */
.nav-site {
  position: fixed;
  z-index: 12;
  left: 0;
  width: 370px;
  height: 100%;
  padding: 40px 15px;
  clip-path: circle(0% at 2% 2%);
  top: 0;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
}
.nav-site.active {
  clip-path: circle(65.6% at 2% 1%);
}
.nav-site ul ul li a {
  padding-left: 20px;
}
.nav-site li {
  position: relative;
}
.nav-site li:hover > a {
  color: #000;
  font-weight: 700;
}
.nav-site li a {
  color: #000;
  text-transform: uppercase;
  font-size: 12px;
  padding: 6px 0;
  color: #fff;
  -webkit-transition: 150ms linear;
  -moz-transition: 150ms linear;
  -o-transition: 150ms linear;
  transition: 150ms linear;
}
.nav-site li a.active {
  color: #000;
  font-weight: 700;
}
.nav-site li a > span {
  float: right;
}

.overlay-body {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 11;
  opacity: 0;
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
}

.overlay-body.active {
  opacity: 1;
  visibility: visible;
}

.bars {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  cursor: pointer;
  position: fixed;
  z-index: 44;
  top: 12px;
  right: 15px;
}
.bars span {
  display: block;
  margin-bottom: 9px;
  width: 28px;
  height: 2px;
  -webkit-transition: 150ms linear;
  -moz-transition: 150ms linear;
  -o-transition: 150ms linear;
  transition: 150ms linear;
}
.bars span:last-child {
  margin-bottom: 0;
}
.bars.active span:first-child {
  transform: translateY(10px) rotate(45deg);
}
.bars.active span:nth-child(2) {
  opacity: 0;
}
.bars.active span:last-child {
  transform: translateY(-10px) rotate(-45deg);
}

/* _____ style banner-view _____ */
.banner-view {
  background: url("../images/header-bg.jpg.webp") center center/cover;
  height: 100vh;
  min-height: 633px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 700px) {
  .banner-view {
    background: url(../images/header-bg.jpg.webp) 40% center;
  }
}
.banner-view .banner-text h3 {
  text-transform: uppercase;
  font-weight: 400;
  letter-spacing: 3px;
}
.banner-view .banner-text h1 {
  text-transform: capitalize;
  margin-top: 20px;
}
@media screen and (max-width: 1199px) {
  .banner-view .banner-text h1 {
    font-size: 45px;
  }
}
.banner-view .banner-text p {
  padding: 20px 0;
}

/* _____ style feature _____ */
.feature-parent {
  padding: 100px 0;
}
.feature-parent .feature-inner h3 {
  margin: 20px 0;
}

/* _____ style testmonials _____ */
.testmonials {
  background: url("../images/testimonial-bg.jpg.webp") center center/cover no-repeat;
  position: relative;
  z-index: 1;
}
.testmonials::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  z-index: -1;
}
.testmonials .testmonials-inner {
  background-color: #fff;
  padding: 30px 22px;
  display: flex;
}
@media screen and (max-width: 1090px) {
  .testmonials .testmonials-inner {
    align-items: center;
  }
}
.testmonials .testmonials-inner img {
  margin-right: 30px;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}
.testmonials .testmonials-inner .testmonials-items {
  text-align: left;
}
.testmonials .testmonials-inner .testmonials-items > p {
  margin-bottom: 10px;
}
.testmonials .owl-nav {
  position: absolute;
  right: -42px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media screen and (max-width: 1090px) {
  .testmonials .owl-nav {
    position: static;
    flex-direction: row;
    transform: translateY(30px);
  }
}
.testmonials .owl-nav button.owl-next,
.testmonials .owl-nav button.owl-prev {
  border: 1px solid #f4f4f4;
  height: 42px;
  width: 42px;
  background-color: #fff;
  border-radius: 0;
}

/* _____ style offser _____ */
.offfer-img {
  box-shadow: 0px 0px 40px 0px rgba(132, 144, 255, 0.2);
  padding: 30px;
  text-align: center;
  margin-bottom: 30px;
  border: 2px solid transparent;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
  cursor: pointer;
}
.offfer-img:hover {
  border: 2px solid #6a9ddc;
}

.offfer-details {
  padding-right: 60px;
}

/* _____ style counter _____ */
.count {
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 48px;
}
.count + p {
  color: #222;
}

/* _____ services _____ */
.services {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("../images/service-bg.jpg.webp") center center/cover no-repeat;
  padding: 100px 0;
}
.services .services-items {
  padding: 50px 30px;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
  position: relative;
  z-index: 1;
  color: #fff;
  cursor: pointer;
}
.services .services-items::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: 250ms linear;
  -moz-transition: 250ms linear;
  -o-transition: 250ms linear;
  transition: 250ms linear;
  clip-path: circle(0% at 0 0);
  z-index: -1;
}
.services .services-items:hover::before {
  clip-path: circle(160% at 0 0);
}
.services .services-items:hover {
  box-shadow: -14.142px 14.142px 20px 0px rgba(157, 157, 157, 0.5);
}
.services .services-items h3 {
  margin-bottom: 20px;
}
.services .services-items h3 span {
  margin-right: 10px;
}

/* _____ style about _____ */
.about-btm {
  margin-bottom: 120px;
}

@media screen and (max-width: 992px) {
  .about-details {
    padding: 0 15px;
  }
}
@media screen and (max-width: 992px) {
  .about-details h2 {
    font-size: 25px;
  }
}

.overlay-about {
  position: relative;
}
.overlay-about::before {
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
}
.overlay-about .inset {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* _____ style brand _____ */
.brand {
  background-color: #F9F9FF;
}
.brand .brand-inner {
  padding: 60px 65px;
}
.brand img {
  filter: grayscale(100%);
}
.brand img:hover {
  filter: grayscale(0%);
}

/* _____ style contact _____ */
input,
textarea {
  width: 100%;
  border: 1px solid #ced4da;
  color: #495057;
  padding: 15px;
  margin-bottom: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 12px;
  outline: none;
  -webkit-transition: 100ms linear;
  -moz-transition: 100ms linear;
  -o-transition: 100ms linear;
  transition: 100ms linear;
}
input:focus,
textarea:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

textarea {
  height: 150px;
}

/*# sourceMappingURL=style.css.map */
