/* _____ style counter _____ */
.count {
  background-image: -webkit-linear-gradient($--linear-color);
  @include vendor(webkit moz, background-clip, text);
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  +p{
    color: #222;
  }
}