/* _____ style counter _____ */
.count {
  @extend %overlay-green;
  @include vendor(webkit moz, background-clip, text);
  -webkit-text-fill-color: transparent;
  font-size: 48px;
  +p{
    color: #222;
  }
}