button {
  text-align: center;
  display: inline-block;
  border: none;
  font-family: 'Poppins', sans-serif;
  color: #fff;
  font-weight: 500;
  border-radius: 25px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

button.btn {
  padding: 12px 30px;
}

button.btn-left {
  padding: 12px 60px 12px 30px;
}

button.btn-primary {
  background: -webkit-linear-gradient($--linear-color);
}
